.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 12px;
  }
  
  .item {
    min-height: 200px;
    background-color: #eee;
  }

  .every-card {
      background-color: blueviolet;
  }

  .second-word-formatting {
          float: right;
  }

