.search-bar {
    padding: 30px;
    text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
}

input {
    height: 40px;
    width: 450px;
    border-color: rgb(183, 226, 43);
    border: 30px;
    border-radius: 8px;
}

.title1 {
    text-align: center;
	display:flex;
	align-items: center;
    justify-content: center;
    color:rgb(221, 189, 10)

}